*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container{
    inline-size: 100%;
    min-block-size: 100vh;
    background: linear-gradient(135deg, #a3a9b5, #925c9f);
    padding: 10px;
}

.todo-app{
    inline-size: 100%;
    max-inline-size: 540px;
    background: #ffffffa7;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-block-end: 20px;
}

.todo-app h2 img{
    inline-size: 30px;
    margin-inline-start: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-inline-start: 20px;
    margin-block-end: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ca87cf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
}

ul li::before{
    content: '';
    position: absolute;
    block-size: 28px;
    inline-size: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    inset-block-start: 12px;
    inset-inline-start: 8px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
    filter: brightness(80%) contrast(80%);
    inline-size: 5%;
    block-size: 50%;
    padding: 0.05%;
}

ul li span{
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 5px;
    inline-size: 40px;
    block-size: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #b5a9b7;
}